
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- Breadcrumbs-->

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Ordenes</li>

    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Detalles de las Órdenes
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Item No.</th>
                            <th>Nombre de Categoría</th>
                            <th>Acción</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Item No.</th>
                            <th>Nombre de Categoría</th>
                            <th>Acción</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@(Model.IndexOf(item) + 1)</td>
                                <td>@item.CategoryName</td>
                                <td>
                                    @Html.ActionLink("Edit", "CategoryEdit", new { catId = item.CategoryId })
                                </td>


                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>